extends map_layout

block content
	style().
		html {
			width: 100%;
		}
		body {
			width: 100%;
			margin: 0 0 0 0;
		}
		#map-canvas {
			width: 100%;
			height: 100%;
		}
	script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyDrF6CcNk_9hJhxbhwob-lUtoX6DRSa04Q&sensor=true", type="text/javascript")
	script(type="text/javascript").
		$(function(){
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showMap);
			}
		});
		function showMap(position) {
			var myLatlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

			$("#map-canvas").width($(document).width());
			$("#map-canvas").height($(document).height());

			var mapOptions = {
				center: myLatlng,
				zoom: 10,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
			var mybounds = new google.maps.LatLngBounds();
			addMarker(position.coords.latitude, position.coords.longitude, map, mybounds, "images/smart.png");
			addMarker(42.71, -84.82, map, mybounds);
			addMarker(40.8049, -89.4425, map, mybounds);
			
			map.fitBounds(mybounds);
		}
		function addMarker(lat, lng, map, bounds, image) {
			var ll = new google.maps.LatLng(lat, lng);
			bounds.extend(ll);
			if (image === undefined) {
				new google.maps.Marker({position: ll, map: map});
			} else {
				new google.maps.Marker({position: ll, map: map, icon: image});
			}
		}
		function initialize() {
			var mapOptions = {
				center: new google.maps.LatLng(-34.397, 150.644),
				zoom: 8,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("map-canvas"),
					mapOptions);
		}
	div(id="map-canvas")