%script{:type=>"text/javascript"}
	:plain
		$(function(){
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showMap);
				$("#holder").show();
				$("#no_geo").hide();
			} else {
				$("#holder").hide();
				$("#no_geo").show();
			}
		});
		function showMap(position) {
			$("#lat").text(position.coords.latitude);
			$("#lon").text(position.coords.longitude);
		}
%div{:id=>"holder"}
	%div{:id=>"lat"}
		lat
	%div{:id=>"lon"}
		lon
%div{:id=>"no_geo"}
	Your browser does not support geolocation.