extends layout

block content
	script(type="text/javascript").
		$(function(){
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showMap);
				$("#holder").show();
				$("#no_geo").hide();
			} else {
				$("#holder").hide();
				$("#no_geo").show();
			}
		});
		function showMap(position) {
			$("#lat").text(position.coords.latitude);
			$("#lon").text(position.coords.longitude);
		}
	h3 Your location
	div() Latitude:
	div(id="lat")
	div Longitude: 
	div(id="lon")