%div
	:javascript
		window.onload = function() {
			navigator.geolocation.getCurrentPosition(showMap);
		}
		function showMap(position) {
			$("#lat").text(position.coords.latitude);
			$("#lon").text(position.coords.longitude);
		}
%div{:id=>"lat"}
	lat
%div{:id=>"lon"}
	lon